<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        
        <h2>Listado de Estados</h2>
        <br>
        <hr>
        <a th:href="@{/estado/nuevo}">Nuevo Estado</a>
        
        <div th:if="${estados !=null and !estados.empty}">
            <table border="0">
             <thead>
                 <tr>
                     <th>Nombre</th>
                     <th> Capital</th>
                     <th> Poblacion</th>
                      <th>Territorio</th>
                 </tr>
              </thead>
             <tbody>
                 <tr th:each="estado : ${estados}">
                     <td>[[${estado.nombre}]]</td>
                     <td>[[${estado.capital}]]</td>
                     <td>[[${estado.poblacion}]]</td>
                     <td> [[${estado.territorio}]]</td>
                     <td><a th:href="@{/estado/eliminar/} + ${estado.idEstado}">Eliminar</a>
                         <a th:href="@{/estado/modificar/} + ${estado.idEstado}">Modificar</a></td>
                 </tr>
             </tbody>
            </table>
         </div>
        <div th:if="${estado ==null or estados.empty}">
            <h3>No hay Estados que Mostrar</h3>
        </div>
    </body>
</html>

