<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        
        <h2>Datos de Estado</h2>
        <br>
        <hr>
        <a th:href="@{/}">Regresar</a>
        
        <form th:action="@{/estado/guardar}"
            method="post"
            th:object="${estado}">
            
            <input type="hidden" 
                   name="idEstado" 
                   th:field="*{idEstado}"/>
            
            <label>Nombre</label>
            <input type="text" 
                   name="nombre" 
                   value="" 
                   th:field="*{nombre}"
                   size="30" />
            <br>
            <label>Capital</label>
            <input type="text" 
                   name="capital" 
                   value="" 
                   th:field="*{capital}"
                   size="40" />
            <br>
            <label>Poblacion</label>
            <input type="number" 
                   name="poblacion" 
                   value="" 
                   th:field="*{poblacion}"
                   size="25" />
            <br>
            <label>Territorio</label>
            <input type="text" 
                   name="territorio" 
                   value="" 
                   th:field="*{territorio}"
                   size="25" />
            <br>
            <input type="submit" value="Guardar" />
        </form>
    </body>
</html>